# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Training logs & plots (boleh di-ignore)
outputs/logs/

# Ignore ONLY heavy BERT models
outputs/models/bert_tokenizer/
outputs/models/model_bert_cnn/

# Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
